
.burger-menu {
   position: relative;
 }
 
 .burger-icon {
   background: none;
   border: none;
   font-size: 24px;
   cursor: pointer;
 }
 
 .menu-items {
   position: absolute;
   background: red;
   top: 30px;
   right: 0;
   /* background: #fff; */
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 8px;
   /* z-index: 1; */
   text-align: right;
 }
 
 /* .menu-items  {
   background: none;
   border: none;
   cursor: pointer;
   padding: 8px 12px;
   display: block;
   width: 100%;
 }
  */

 